.timer {
  .counter {
    text-align: center;
    margin: 50px auto 30px;
    span {
      padding: 10px 30px;
      border: 2px solid black;
      font-size: 40px;
      font-weight: bold;
    }
  }
  button {
    margin: 10px;
    width: 180px;
    font-size: 18px;
    font-weight: bold;
  }
}
